In [1]:
import pandas as pd

In [2]:
# Create some example data
xyz_web = {'Day': [1,2,3,4,5,6,7], 
           'Visitors': [1000, 200, 400, 600, 1005, 2300, 100], 
           'Bounce_Rate': [20, 12, 45, 10, 23, 300, 5]}

In [4]:
# Create a dataframe out of the dictionary
df = pd.DataFrame(xyz_web)
df

   Bounce_Rate  Day  Visitors
0           20    1      1000
1           12    2       200
2           45    3       400
3           10    4       600
4           23    5      1005
5          300    6      2300
6            5    7       100

In [5]:
# Perform slicing on the dataframe
#
# Get the first two rows of the dataframe

first_two_rows = df.head(2)
first_two_rows

   Bounce_Rate  Day  Visitors
0           20    1      1000
1           12    2       200

In [6]:
# Get the last two rows of the dataframe

last_two_rows = df.tail(2)
last_two_rows

   Bounce_Rate  Day  Visitors
5          300    6      2300
6            5    7       100