In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'Int_rate': [1,2,3,3],
    'IND_GDP': [50, 45, 45, 70],
}, index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({
    'Low_Tier_HPI': [50,45,45,60],
    'Unemployment': [1,3,7,3],
}, index = [2001, 2003, 2004, 2005])

In [3]:
joined = df1.join(df2)
joined

      IND_GDP  Int_rate  Low_Tier_HPI  Unemployment
2001       50         1          50.0           1.0
2002       45         2           NaN           NaN
2003       45         3          45.0           3.0
2004       70         3          45.0           7.0