In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'HPI': [80,90,70,60],
    'Int_rate': [1,2,3,3],
    'IND_GDP': [50, 45, 45, 70],
}, index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({
    'HPI': [80,90,70,60],
    'Int_rate': [1,2,3,3],
    'IND_GDP': [50, 45, 45, 70],
}, index = [2005, 2006, 2007, 2008])

In [3]:
concat = pd.concat([df1, df2])
concat

      HPI  IND_GDP  Int_rate
2001   80       50         1
2002   90       45         2
2003   70       45         3
2004   60       70         3
2005   80       50         1
2006   90       45         2
2007   70       45         3
2008   60       70         3